.Rproj.user
.Rhistory
.RData
.Ruserdata

R/.Rapp.history
R/observer-fit/
R/observer.pdf
R/outlier-fit/
R/sim-fit/
data/fort_july_full.csv
R/mspe.tex
R/observer-sensitivity.pdf
R/sim-scores.tex
R/observer-sensitivity_cache/
R/observer-sensitivity_files/
R/observer_cache/
R/observer_files/
R/crps.tex
R/loo.tex
R/loofort.tex